<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="es.uniovi.university_management">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.AbsencesActivity"
            android:label="@string/title_activity_absences"
            android:parentActivityName=".ui.SubjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uniovi.university_management.ui.SubjectActivity" />
        </activity>
        <activity
            android:name=".ui.TeachersActivity"
            android:label="@string/title_activity_teachers"
            android:parentActivityName=".ui.SubjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uniovi.university_management.ui.SubjectActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.Subjects">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uniovi.university_management.ui.Subjects" />
        </activity>
        <activity
            android:name=".ui.SubjectActivity"
            android:label="@string/title_activity_subject"
            android:parentActivityName=".ui.Subjects"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uniovi.university_management.ui.Subjects" />
        </activity>
        <activity
            android:name=".ui.Subjects"
            android:label="@string/title_activity_subjects"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>